
$d-blue:rgb(29, 57, 95);
$blue:rgb(55, 94, 136);
$l-blue:rgb(77, 118, 163);
$yellow:rgb(255, 186, 67);
$l-blue-grey:rgb(195, 215, 238);
$l-red:rgb(255, 129, 133);
$d-grey:rgb(88, 88, 88); //text message color
$grey:rgb(180, 185, 188); //grey text
$grey-line:rgb(239, 239, 239);
$l-grey:rgb(250, 250, 250); //light grey background

@font-face {

}
.logo{
	background-color:d-blue;
	font-size:15px;
	
}
